.type {
    font-size: 14px;
    padding: 5px;
    background: rgb(98, 185, 87);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 2px 2px 3px 0px;
    min-width: 45px;
    text-align: center;
}
